{% extends 'layouts/main_layout.html'%}

{% block title%}
    KnotMarker | Редактор
{% endblock %}

{% block head %}
    <style>
    svg {
        border: 1px solid grey;
    }
    </style>
    <script>
        var pic_id = '{{ pic_id }}';
        var user_id = '{{ user_id }}';
        var UndoManager, RandomColor;
        require(["randomColor", "undomanager", "editor"],
                function(randomColor, undoManager, editor) {
                    UndoManager = undoManager;
                    RandomColor = randomColor;
                    var EditorViewModel = editor.EditorViewModel;
                    EditorViewModel.tryBind(EditorViewModel);
                });
    </script>
{% endblock %}

{%block  content %}
    <div id="editorVM">
        {% if current_user.has_role('admin') and user_email != '' %}
            <div class="row">
                <div class="col-sm-12">
                    <h4>Разметка пользователя {{ user_email | trim_email }}</h4>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-12">
                <h5>{{ pic_filename }}</h5>
            </div>
        </div>

        <div class="row" id="picRow">
            <div class="col-sm-12" tabindex="0" style="outline:0;">
                <svg id="svgPlace">
                </svg>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h4>Дефекты:</h4>
                <select id="Polygons" class="form-control" style="margin-bottom: 5%"
                        data-bind="attr:{ size: polygons().length }, foreach: polygons, value: currDefect">
                    <option data-bind="text: '[' + $root.polygons().indexOf($data)+'] ' + $root.polygonTypeName($data), style: {color: stroke_color}, value: $data"> </option>
                </select>
                <button class="btn btn-normal" data-bind="click: addPoly">Добавить</button>
                <button class="btn btn-normal" data-bind="click: delPoly, enable: currDefect() != undefined">Удалить</button>
            </div>
            <div class="col-sm-3">
                <h4>Тип дефекта:</h4>
                <select id="defectType" class="form-control"
                        data-bind="attr:{ size:polygonTypes().length }, foreach: polygonTypes, value: currType, enable: currDefect() != undefined">
                    <option data-bind="text: $data.readable_name, value: $data.type"> </option>
                </select>
                <h4>Или новый тип:</h4>
                <input class="form-control" data-bind="value: newType, text: newType, enable: currDefect() != undefined"/>
            </div>
            <div class="col-sm-3" style="margin-top: 10px" >
                <button class="btn btn-lg" data-bind="click: savePolygons, enable: canSave">Сохранить</button>
                {% if current_user.has_role('admin') %}
                    <h4>Пользователи:</h4>
                    <ol>
                        {% for poly in users_polygons %}
                            <li>
                                <a href="/pic/{{ pic_id }}/{{ poly.user.id }}">{{ poly.user.email | trim_email }}</a>
                            </li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </div>
            <div class="col-sm-3" style="margin-top: 10px" >
                <div class="row">
                    <button class="btn btn-lg" data-bind="click: undoManager.undo, enable: hasUndo">Отменить</button>
                    <button class="btn btn-lg" data-bind="click: undoManager.redo, enable: hasRedo">Вернуть</button>
                </div>
                <div class="row" style="margin-top: 10px">
                    <button class="btn btn-lg" data-bind="event: { mousedown: polygonsOpacity.bind($data, 0), mouseup: polygonsOpacity.bind($data, 1) }">Спрятать разметку</button>
                </div>
                <div class="row" style="margin-top: 10px">
                    <button class="btn btn-lg btn-danger " data-bind="click: clearChanges" style="margin-top: 50px">Сбросить последние изменения</button>
                    <button class="btn btn-lg btn-danger " data-bind="click: deleteAllPolygons" style="margin-top: 10px">Сбросить все</button>
                </div>
            </div>
        </div>
        <div class="row">
            {% if prev_pic %}
                <a class="btn btn-lg" href="/pic/{{ prev_pic.id }}/{{ user_id }}" data-bind="click: nextPage">Предыдущая</a>
            {% endif %}
            {% if next_pic %}
                <a class="btn btn-lg" href="/pic/{{ next_pic.id }}/{{ user_id }}" data-bind="click: nextPage">Следующая</a>
            {% endif %}
            {% if next_pic_without_markup and user_email == '' %}
                <a class="btn btn-lg" href="/pic/{{ next_pic_without_markup.id }}/{{ user_id }}" data-bind="click: nextPage">Следующая без разметки</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
