{% extends 'layouts/main_layout.html'%}
{% block title%} Произошла непредвиденная ошибка {% endblock %}
{% block head %} {% endblock %}
{%block content %}
<div class="row">
    <h3>Произошла непредвиденная ошибка</h3>
    {% if public_dsn %}
        <p>Нам уже известно о ней.</p>
        <p>ID события: {{ event_id }}</p>
    {% endif %}
</div>

{% if public_dsn %}
  <script>
  var intervalId = 0;
  function showReport() {
    if(Raven !== undefined) {
        if(intervalId != 0)
            clearInterval(intervalId);
        Raven.showReportDialog({
            eventId: '{{ g.sentry_event_id }}',
            dsn: '{{ public_dsn }}'
          });
    }
  }

  if(Raven === undefined){
      intervalId = setInterval(showReport, 100);
  } else {
      showReport();
  }
  </script>
{% endif %}
{% endblock %}
