{% extends 'layouts/main_layout.html'%}

{% block title%}
    KnotMarker | Галерея
{% endblock %}

{% block head %}
    <script>
        var pageNum = {{ curr_num + 1 }}
        var picsPerPage = {{ pcs_per_page }}
        require(["gallery"]);
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
{% endblock %}

{%block  content %}
    <div class="row" id="galleryVM">
        <div class="row">
            <div class="col-sm-2">
                <h2 style="margin-top: 0">Категория:</h2>
            </div>
            <div class="col-sm-3">
                <select data-bind="value: currCategory, event: { change: reload }" class="form-control">
                    {% for category in categories %}
                        <option value={{ category.id }}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-5">
                <h4><small>{{ curr_category.description }}</small></h4>
            </div>
            <div class="col-sm-1 col-sm-offset-1">
                <select data-bind="value: imgsPerPage, event: { change: reload }" class="form-control">
                    <option value=20>20</option>
                    <option value=40>40</option>
                    <option value=60>60</option>
                </select>
            </div>
        </div>
        <div class="row">
        {% for pic in pictures %}
            {% if pic != "" %}
                <div class="col-md-3">
                    {% set pic_css = '' %}
                    {% if current_user.id | exists_in(pic.users_polygons) %}
                        {% set pic_css = 'pic-done' %}
                    {% endif %}

                    {% if current_user.has_role('admin') %}
                            {% set col_cnt = 12 %}
                            {% if  pic.users_polygons | length > 0 %}
                                {% set col_cnt = 6 %}
                            {% endif %}
                            <div class="pic-info-border">
                                <a href="/pic/{{ pic.id }}/{{ current_user.id }}" class="col-md-{{ col_cnt }} thumbnail {{ pic_css }}">
                                    <img src="/pic/thumb/{{ pic.id }}.png">
                                    <p class="text-center">{{ pic.filename }}</p>
                                </a>
                                {% if  pic.users_polygons | length > 0 %}
                                    <div class="col-md-{{ col_cnt }}">
                                        <p class="text-center">Пользователи</p>
                                        <ol class="users-list">
                                            {% for poly in pic.users_polygons %}
                                                <li>
                                                    <a href="/pic/{{  pic.id }}/{{ poly.user.id }}">{{ poly.user.email | trim_email }}</a>
                                                </li>
                                            {% endfor %}
                                        </ol>
                                    </div>
                                {% else %}
                                    <div class="col-md-offset-{{ col_cnt }}"></div>
                                {% endif %}
                            </div>
                    {% else %}
                        <a href="/pic/{{ pic.id }}/{{ current_user.id }}" class="thumbnail {{ pic_css }}">
                            <img src="/pic/thumb/{{ pic.id }}.png">
                            <p class="text-center">{{  pic.filename  }}</p>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
            {% if loop.index % 4 == 0 %}
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <nav>
          <ul class="pagination">
              {% if curr_num == 1 %}
                <li class="disabled"><a href="/gallery?page={{ curr_num - 1}}&cnt={{pcs_per_page}}&cat={{ curr_category.id }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
              {% else %}
                <li><a href="/gallery?page={{ curr_num - 1}}&cnt={{pcs_per_page}}&cat={{ curr_category.id }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
              {% endif %}

              {% for i in range(1, num_of_pages+1) %}
                {% if curr_num == i %}
                 <li class="active"><a href="/gallery?page={{ i }}&cnt={{pcs_per_page}}&cat={{ curr_category.id }}">{{ i }}<span class="sr-only">(current)</span></a></li>
                {% else %}
                 <li><a href="/gallery?page={{ i }}&cnt={{pcs_per_page}}&cat={{ curr_category.id }}">{{ i }}<span class="sr-only">(current)</span></a></li>
                {% endif %}
              {% endfor %}

              {% if curr_num == num_of_pages %}
                <li class="disabled"><a href="/gallery?page={{ curr_num + 1}}&cnt={{pcs_per_page}}&cat={{ curr_category.id }}" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
              {% else %}
                <li><a href="/gallery?page={{ curr_num + 1}}&cnt={{pcs_per_page}}&cat={{ curr_category.id }}" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
              {% endif %}
          </ul>
        </nav>
    </div>
{% endblock %}
